
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'

*,
*::before,
*::after
  box-sizing: border-box

html,
body
  height: 100%

img
  max-width: 100%

// PARSLEY

input.parsley-success,
select.parsley-success,
textarea.parsley-success
  color: #468847
  background-color: #DFF0D8
  border: 1px solid #D6E9C6

input.parsley-error,
select.parsley-error,
textarea.parsley-error
  color: #B94A48
  background-color: #F2DEDE
  border: 1px solid #EED3D7

.parsley-errors-list
  margin: 2px 0 3px
  padding: 0
  list-style-type: none
  font-size: 0.9em
  font-weight: bold
  line-height: 0.9em
  opacity: 0
  transition: all .3s ease-in

li.parsley-length
  padding-top: 40px

.parsley-errors-list.filled
  opacity: 1

//WELCOME SCREEN

#main-container
  height: 100%

.welcome-panel-container
  padding-top: 100px
  height: 100%
  background-position: center
  background-size: cover

.welcome-heading
  text-align: center
  margin-top: 10px

.welcome-form-caption
  text-align: center

.panda-logo
  position: relative
  bottom: 8px

#username-form
  width: 100%

#username-input
  width: 100%
  border-radius: 6px
  text-align: center
  text-transform: uppercase
  font-weight: bold

.welcome-button-container
  padding-top: 15px

//CHAT SCREEN

.chat-panel-container
  padding-top: 15px
  height: 100%
  background-position: center
  background-size: cover
  background-image: url("../images/bg2.jpg")

#chat-form
  width: 100%

#chat-input
  width: 90%
  border-radius: 6px

.chat-panel
  overflow-y: scroll

.chat-submit-button
  height: 34px
  padding-left: 8px
  padding-right: 8px
  padding-bottom: 0px
  padding-top: 0px

.outside-message,
.user-message
  font-size: 14px

.outside-message
  text-align: left

.user-message
  text-align: right
